*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

.img{
    background-image: url(..//img/finance-currency-business-money.jpg);
height: 100vh;
background-size: cover;
background-position: center;
}

.navbar{
    display: inline-block;
    float: right;
}

ul,li,a{
display: inline-block;
padding: 10px 115px;
color: white;
font-size: 25px;
}

a{
border: 3px solid white;
}
a:hover{
    background-color: red;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

.title > h1{
    font-size: 80px;
    color: white;
    letter-spacing: 30px;
}