body {
}
 
.box {
    font-weight: 900;
text-align: center;

padding: 30px;

background-color: rgb(136, 158, 199);
width: 900px;
float: right;
}

.box > .first {
    font-size: 30px;
    line-height: 2.5;
    letter-spacing: 5px;
    font-family: 'Indie Flower', cursive;
}

.box > .second {
    font-size: 40px;
    font-family: 'Rajdhani', sans-serif;
line-height: 45px;
}

.inline-div {
    background-color: rgb(231, 173, 125);
    height: 200px;
    width: 200px;
}

.er{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.icon-fighter-jet {
    color: red;
    float: right;
    font-size: 100px;
}

.icon-asterisk {
    font-size: 68px;
    color: blue;
}

a {
    font-size: 60px;
    background-color: chartreuse;
}